.destination-body {
  font-family: "Roboto", sans-serif;
  height: 182vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto auto 28% auto auto auto;
  justify-items: center;
  align-items: center;
  color: aliceblue;
}
.destination-body .background-destination-mobile {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.destination-body * {
  grid-column: 2/3;
  z-index: 1;
}
.destination-body .nav-bar {
  grid-row: 1/2;
  height: fit-content;
  flex-direction: row;
}
.destination-body .nav-bar nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.destination-body .nav-bar .dimond {
  position: absolute;
}
.destination-body .sub-title {
  align-items: center;
  grid-column: 2/3;
  z-index: 1;
  height: fit-content;
  width: fit-content;
}
.destination-body .sub-title a {
  color: rgba(240, 248, 255, 0.516);
}
.destination-body .planet {
  grid-row: 3/4;
  height: 100%;
  width: 50%;
}
.destination-body .the-planet-options {
  grid-row: 4/5;
  margin: 5%;
  margin-top: 10%;
}
.destination-body h1 {
  grid-row: 5/6;
  width: fit-content;
  margin: 0%;
  font-size: 4rem;
}
.destination-body .plain-text {
  grid-row: 6/7;
  width: fit-content;
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 0%;
  padding-bottom: 5%;
}
.destination-body .travel-mesuraments {
  grid-row: 7;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.destination-body .travel-mesuraments > p {
  text-transform: uppercase;
  margin: 0%;
  margin-bottom: 10%;
  text-align: center;
}
.destination-body .travel-mesuraments > p:not(.distance, .travel-time) {
  font-size: 2rem;
}
.destination-body .travel-mesuraments .distance {
  margin: 0%;
  margin-top: 15%;
}
.destination-body .travel-mesuraments .travel-time {
  margin: 0%;
}

/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v47-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto-v47-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v47-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v47-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-v47-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v47-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.crew-body {
  display: grid;
  height: 170vw;
  width: 100vw;
  margin: 0%;
  color: aliceblue;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto auto 3fr auto auto auto auto;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.crew-body .background-destination-mobile {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 0;
}
.crew-body *:not(.nav-bar) {
  z-index: 1;
  grid-column: 2/3;
  justify-self: center;
}
.crew-body .nav-bar {
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
}
.crew-body .nav-bar ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 3%;
}
.crew-body h3 {
  grid-row: 2/3;
  text-transform: uppercase;
}
.crew-body .crew-member {
  grid-row: 3/4;
  height: 90%;
  width: 60%;
}
.crew-body h2 {
  grid-row: 4/5;
  margin: 2%;
  color: rgba(240, 248, 255, 0.702);
  font-weight: 300;
}
.crew-body h1 {
  grid-row: 5/6;
  margin-top: 0%;
}
.crew-body .plain-text {
  grid-row: 6/7;
  text-align: center;
  color: rgba(240, 248, 255, 0.756);
}
.crew-body > ul {
  grid-row: 7;
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin-top: 0%;
}

.index-body {
  font-family: "Roboto", sans-serif;
  height: 150vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 2fr 1fr 3fr 3fr 1fr 3.5fr;
}
.index-body > * {
  z-index: 1;
  grid-column: 2/3;
  color: aliceblue;
}
.index-body .the-background {
  position: absolute;
  z-index: 0;
  height: auto;
  width: 100vw;
}
.index-body > nav {
  grid-row: 1/2;
  grid-column: 2/3;
}
.index-body > nav > ul {
  display: flex;
  flex-direction: row;
}
.index-body .dimond {
  grid-row: 1/2;
}
.index-body .sub-title {
  grid-row: 2/3;
  justify-self: center;
  margin-bottom: 0%;
}
.index-body .title {
  grid-row: 3/4;
  font-size: 5rem;
  justify-self: center;
  margin: 0%;
}
.index-body .plain-text {
  grid-row: 4/5;
  justify-self: center;
  font-size: 1.3rem;
  filter: brightness(0.9);
}
.index-body .explore {
  grid-row: 6;
  justify-self: center;
  height: 100%;
  width: 40%;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */