.destination-body {
  font-family: "Roboto", sans-serif;
  height: 208vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 15% auto 30% auto auto auto;
  justify-items: center;
  align-items: center;
  position: relative;
  color: aliceblue;
}
.destination-body .the-background {
  height: 208vw;
  width: 100%;
  background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
  position: absolute;
  background-size: cover;
  z-index: 0;
}
.destination-body *:not(.the-background, .nav-bar) {
  grid-column: 2/3;
  z-index: 1;
}
.destination-body .sub-title {
  grid-column: 2/3;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  text-align: center;
  font-size: 1.3rem;
  margin: 5%;
}
.destination-body .sub-title a {
  color: rgba(240, 248, 255, 0.516);
}
.destination-body .planet {
  grid-row: 3/4;
  height: 100%;
  width: 60%;
}
.destination-body .the-planet-options {
  grid-row: 4/5;
  margin: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.destination-body .the-planet-options a {
  all: unset;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 2rem;
  height: fit-content;
  margin: 0%;
  margin-top: 7%;
  justify-self: start;
  font-size: 1.2rem;
}
.destination-body .the-planet-options span {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: aliceblue;
  visibility: hidden;
}
.destination-body .the-planet-options .line1,
.destination-body .the-planet-options .line2,
.destination-body .the-planet-options .line3,
.destination-body .the-planet-options .line4 {
  visibility: visible;
  position: relative;
  top: 15px;
}
.destination-body .title {
  grid-row: 5/6;
  width: fit-content;
  margin: 0%;
  font-size: 4rem;
}
.destination-body .plain-text {
  grid-row: 6/7;
  width: fit-content;
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 0%;
  padding-bottom: 5%;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.723);
}
.destination-body .travel-mesuraments {
  grid-row: 7;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.destination-body .travel-mesuraments > p {
  text-transform: uppercase;
  margin: 0%;
  margin-bottom: 10%;
  text-align: center;
}
.destination-body .travel-mesuraments > p:not(.distance, .travel-time) {
  font-size: 2rem;
}
.destination-body .travel-mesuraments .distance {
  margin: 0%;
  margin-top: 15%;
}
.destination-body .travel-mesuraments .travel-time {
  margin: 0%;
}
.destination-body .travel-mesuraments p {
  margin-bottom: 0%;
}
@media screen and (min-width: 576px) {
  .destination-body {
    grid-template-columns: 3% 6% 42.5% 42.5% 6%;
    grid-template-rows: 15% 10% 15% 20% 20% 20% 20%;
    height: 60vw;
  }
  .destination-body .the-background {
    height: 60vw;
  }
  .destination-body .nav-bar {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .destination-body .sub-title {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 1rem;
    margin: 0%;
  }
  .destination-body .planet {
    grid-column: 3/4;
    grid-row: 3/7;
    height: 70%;
  }
  .destination-body .the-planet-options {
    grid-column: 4/5;
    grid-row: 3/4;
    margin: 0%;
    margin-bottom: 10%;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .destination-body .the-planet-options div {
    align-self: left;
  }
  .destination-body .the-planet-options div a {
    font-size: 1rem;
  }
  .destination-body .title {
    grid-column: 4/5;
    grid-row: 4/5;
    font-size: 3rem;
    justify-self: left;
  }
  .destination-body .plain-text {
    grid-column: 4/5;
    grid-row: 5/6;
    font-size: 0.7rem;
    text-align: left;
    margin: 0%;
    padding-bottom: 2%;
  }
  .destination-body .travel-mesuraments {
    grid-column: 4/5;
    grid-row: 6/7;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 0.8rem;
  }
  .destination-body .travel-mesuraments div:nth-child(1) .distance {
    margin-top: 0%;
    margin: 0%;
  }
  .destination-body .travel-mesuraments div:nth-child(1) p:nth-child(2) {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0%;
  }
  .destination-body .travel-mesuraments div:nth-child(2) {
    margin-left: auto;
  }
  .destination-body .travel-mesuraments div:nth-child(2) p:nth-child(2) {
    margin-top: 0%;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .destination-body {
    height: 65vw;
    width: 100vw;
    grid-template-columns: 3% 3fr 45% 3%;
    grid-template-rows: 14% auto auto auto auto auto;
    grid-template-areas: "empty-l nav nav nav" "empty-l sub-title planetOp empty-r" "empty-l planet title empty-r" "empty-l planet text empty-r" "empty-l planet travelM empty-r";
  }
  .destination-body .the-background {
    height: 75vw;
    margin: 0%;
    padding: 0%;
    background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .destination-body .nav-bar {
    grid-area: nav;
  }
  .destination-body .nav-bar .nav-line {
    display: block;
    position: absolute;
    right: 20%;
    background-color: rgba(240, 248, 255, 0.223);
    height: 2px;
    width: 57%;
    z-index: 3;
  }
  .destination-body .sub-title {
    grid-area: sub-title;
    margin: 0%;
    margin-top: 5%;
    align-self: center;
    justify-self: start;
  }
  .destination-body .the-planet-options {
    width: 100%;
    grid-area: planetOp;
    cursor: pointer;
    gap: 15%;
    margin: 0%;
    margin-top: 10%;
  }
  .destination-body .the-planet-options a {
    margin-top: 2%;
  }
  .destination-body .planet {
    grid-area: planet;
    height: 70%;
    width: 65%;
    margin-bottom: 15%;
  }
  .destination-body .title {
    grid-area: title;
    /* grid-column: 3/4;
    grid-row: 4/5; */
    font-size: 5rem;
    text-align: left;
    justify-self: start;
    text-transform: uppercase;
  }
  .destination-body .plain-text {
    grid-area: text;
    font-size: 1rem;
    text-align: left;
    margin-top: 0%;
    padding-bottom: 10%;
  }
  .destination-body .travel-mesuraments {
    grid-area: travelM;
    margin-bottom: 10%;
    width: 100%;
  }
  .destination-body .travel-mesuraments div:nth-child(1) p:nth-child(2) {
    font-size: 1.6rem;
  }
  .destination-body .travel-mesuraments div:nth-child(2) p:nth-child(2) {
    font-size: 1.6rem;
  }
  .destination-body .empty-left {
    grid-area: empty-l;
  }
  .destination-body .empty-right {
    grid-area: empty-r;
  }
}

/* roboto-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v47-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto-v47-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v47-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v47-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/roboto-v47-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v47-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.crew-body {
  display: grid;
  height: 250vw;
  width: 100vw;
  margin: 0%;
  color: aliceblue;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: auto auto 40% auto auto auto auto;
  justify-items: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.crew-body .background-destination-mobile {
  background-image: url("/starter-code/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250vw;
  width: 100vw;
  position: absolute;
  z-index: 0;
}
.crew-body *:not(.nav-bar) {
  z-index: 1;
  grid-column: 2/3;
}
.crew-body h3 {
  grid-row: 2/3;
  text-transform: uppercase;
  font-weight: 200;
}
.crew-body h3 a {
  color: rgba(240, 248, 255, 0.516);
}
.crew-body .crew-member {
  grid-row: 3/4;
  height: 90%;
  width: 70%;
}
.crew-body h2 {
  grid-row: 4/5;
  margin: 2%;
  color: rgba(240, 248, 255, 0.702);
  font-weight: 300;
}
.crew-body h1 {
  grid-row: 5/6;
  margin-top: 0%;
  margin-bottom: 5%;
}
.crew-body .plain-text {
  grid-row: 6/7;
  text-align: center;
  color: rgba(240, 248, 255, 0.756);
  margin-top: 0%;
  font-size: 1rem;
}
.crew-body .crew-member-navigation {
  width: 100%;
}
.crew-body .crew-member-navigation .dot-nav {
  grid-row: 7;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
  padding: 0%;
  margin-top: 0%;
  list-style-type: none;
}
.crew-body .crew-member-navigation .dot-nav li {
  display: flex;
  justify-content: space-evenly;
}
.crew-body .crew-member-navigation .dot-nav li a {
  display: block;
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
.crew-body .crew-member-navigation .dot-nav li a:hover {
  background-color: rgb(197, 195, 195);
}
@media (min-width: 400px) {
  .crew-body {
    grid-template-rows: 10% auto 45% auto auto auto auto;
  }
  .crew-body h3 {
    font-size: 1.7rem;
    margin: 0%;
    margin-top: 8%;
  }
  .crew-body .crew-member {
    height: 90%;
    margin-top: 5%;
    align-self: flex-end;
  }
  .crew-body h2 {
    font-size: 2.5rem;
    margin: 0%;
    margin-top: 2%;
  }
  .crew-body h1 {
    font-size: 2.5rem;
    align-content: center;
    margin-bottom: 0%;
  }
  .crew-body .plain-text {
    font-size: 1.1rem;
    margin: 0%;
  }
  .crew-body > ul {
    margin-bottom: 10%;
    margin-top: 5%;
  }
  .crew-body > ul li {
    font-size: 1.2rem;
  }
  .crew-body .crew-member-navigation .dot-nav li a {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 450px) {
  .crew-body h3 {
    font-size: 2rem;
    margin: 0%;
    margin-top: 8%;
  }
  .crew-body .crew-member {
    height: 90%;
    margin-top: 5%;
    align-self: flex-end;
  }
  .crew-body h2 {
    font-size: 2.5rem;
    margin: 0%;
    margin-top: 2%;
  }
  .crew-body h1 {
    font-size: 2.9rem;
    align-content: center;
    margin-bottom: 0%;
  }
  .crew-body .plain-text {
    font-size: 1.5rem;
    margin: 0%;
  }
  .crew-body > ul {
    margin-bottom: 10%;
    margin-top: 5%;
  }
  .crew-body > ul li {
    font-size: 1.2rem;
  }
}
@media (min-width: 576px) {
  .crew-body {
    grid-template-columns: 3% 6% 42.5% 42.5% 6%;
    grid-template-rows: 15% 10% auto 12% 30% 17%;
    height: 60vw;
  }
  .crew-body .background-destination-mobile {
    background-image: url("/starter-code/assets/crew/background-crew-tablet.jpg");
    height: 60vw;
  }
  .crew-body .nav-bar {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .crew-body .title-of-the-page {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 1.1rem;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-right: auto;
  }
  .crew-body .crew-member {
    grid-column: 4/5;
    grid-row: 3/7;
    height: 90%;
    margin: 0%;
    margin-bottom: 10%;
  }
  .crew-body .role {
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 1.3rem;
    margin-right: auto;
    align-self: flex-end;
  }
  .crew-body .name-of-the-crew-member {
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 1.8rem;
    margin-right: auto;
  }
  .crew-body .name-of-the-crew-member.specialist {
    font-size: 1.7rem;
  }
  .crew-body .plain-text {
    grid-column: 3/4;
    grid-row: 5/6;
    font-size: 0.8rem;
    margin-right: auto;
    text-align: left;
  }
  .crew-body .crew-member-navigation {
    grid-column: 3/4;
    grid-row: 6/7;
  }
  .crew-body .crew-member-navigation > ul li {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .crew-body {
    height: 100vh;
    grid-template-columns: 3% 1fr 1fr 3%;
    grid-template-rows: 15% auto auto 12% auto 10%;
  }
  .crew-body *:not(.crew-member) {
    justify-self: start;
  }
  .crew-body .background-destination-mobile {
    height: 100vh;
  }
  .crew-body .nav-bar {
    grid-column: 2/5;
    grid-row: 1/2;
  }
  .crew-body .nav-bar .nav-line {
    display: block;
    position: absolute;
    right: 58%;
    background-color: rgba(240, 248, 255, 0.223);
    height: 2px;
    width: 30%;
    z-index: 3;
  }
  .crew-body h3 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.5rem;
  }
  .crew-body .crew-member {
    grid-column: 3/4;
    grid-row: 2/7;
    height: 80%;
    width: 75%;
    align-self: center;
  }
  .crew-body h2 {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 2.2rem;
    justify-self: start;
    align-self: end;
    margin: 0%;
  }
  .crew-body h1 {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 2.5rem;
    align-self: start;
  }
  .crew-body .plain-text {
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 1.1rem;
    text-align: start;
  }
  .crew-body > ul {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}

.crew-commander .crew-member-navigation li:nth-child(1) a {
  background-color: rgb(197, 195, 195);
}

.crew-engineer .crew-member-navigation li:nth-child(2) a {
  background-color: rgb(197, 195, 195);
}

.crew-pilot .crew-member-navigation li:nth-child(3) a {
  background-color: rgb(197, 195, 195);
}

.crew-specialist .crew-member-navigation li:nth-child(4) a {
  background-color: rgb(197, 195, 195);
}

.technology-body {
  height: 200vw;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto auto auto;
  grid-template-columns: 5% 1fr 5%;
  justify-items: center;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}
.technology-body .background-technology-mobile {
  position: absolute;
  background-image: url("/starter-code/assets/technology/background-technology-mobile.jpg");
  height: 200vw;
  width: 100%;
  z-index: 0;
}
.technology-body *:not(.background-technology-mobile, .nav-bar) {
  z-index: 1;
  grid-column: 2/3;
}
.technology-body .dimond {
  height: 80%;
}
.technology-body h2 {
  grid-row: 2/3;
  margin: 10%;
  font-size: 1.3rem;
  justify-self: start;
}
.technology-body h2 a {
  color: rgba(240, 248, 255, 0.504);
}
.technology-body .main-image {
  grid-row: 3/4;
  grid-column: 1/4;
  width: 100%;
  height: 100%;
}
.technology-body .pick-a-technology-buttons {
  grid-row: 4/5;
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 99%;
  cursor: pointer;
}
.technology-body .pick-a-technology-buttons a {
  all: unset;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid aliceblue;
  border-radius: 50%;
}
.technology-body .pick-a-technology-buttons .tech1,
.technology-body .pick-a-technology-buttons .tech2,
.technology-body .pick-a-technology-buttons .tech3 {
  background-color: aliceblue;
  color: black;
}
.technology-body h3 {
  grid-row: 5/6;
  margin: 0%;
  margin-top: 5%;
}
.technology-body h1 {
  grid-row: 6/7;
  margin: 0%;
}
.technology-body .plain-text {
  grid-row: 7;
  text-align: center;
  font-size: 0.8rem;
}
@media (min-width: 400px) {
  .technology-body {
    grid-template-rows: auto auto 37% auto auto auto auto;
    /* grid-template-columns: 5% 1fr 5%; */
  }
  .technology-body h2 {
    font-size: 1.8rem;
  }
  .technology-body .pick-a-technology-buttons a {
    width: 13%;
    font-size: 1.2rem;
  }
  .technology-body h3 {
    font-size: 1.3rem;
    font-weight: 200;
    opacity: 0.5;
  }
  .technology-body h1 {
    font-size: 2.3rem;
  }
  .technology-body .plain-text {
    font-size: 1rem;
  }
}
@media (min-width: 500px) {
  .technology-body {
    grid-template-rows: auto auto 35% auto auto auto auto;
  }
  .technology-body .dimond {
    height: 100%;
  }
  .technology-body h2 {
    font-size: 2rem;
  }
  .technology-body h3 {
    font-size: 1.5rem;
  }
  .technology-body h1 {
    font-size: 3rem;
  }
  .technology-body .plain-text {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 576px) {
  .technology-body {
    height: 60vw;
    grid-template-columns: 3% 10% 1.7fr 10% 40% 3%;
    grid-template-rows: 15% auto auto 10% auto 50%;
  }
  .technology-body .background-technology-mobile {
    height: 60vw;
  }
  .technology-body .nav-bar {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .technology-body .name-of-the-page {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 1.2rem;
    margin-left: 0%;
    margin-top: 0%;
    padding: 0%;
  }
  .technology-body .image-wrapper {
    grid-column: 5/6;
    grid-row: 2/6;
  }
  .technology-body .pick-a-technology-buttons {
    grid-column: 2/3;
    grid-row: 3/6;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    gap: 18%;
    margin-bottom: 30%;
  }
  .technology-body .pick-a-technology-buttons a {
    width: 30px;
    height: 30px;
  }
  .technology-body .what-it-is-about-text {
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 1.2rem;
  }
  .technology-body .title {
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 1.6rem;
  }
  .technology-body .plain-text {
    grid-column: 3/4;
    grid-row: 5/6;
    font-size: 0.7rem;
  }
}
@media (min-width: 650px) {
  .technology-body {
    height: 58vw;
  }
  .technology-body .background-technology-mobile {
    height: 58vw;
  }
  .technology-body .name-of-the-page {
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .technology-body .image-wrapper {
    margin-bottom: 10%;
  }
  .technology-body .what-it-is-about-text {
    font-size: 1.5rem;
  }
  .technology-body .title {
    font-size: 1.9rem;
  }
  .technology-body .plain-text {
    font-size: 0.85rem;
  }
}
@media (min-width: 768px) {
  .technology-body {
    height: 60vw;
    width: 100vw;
    grid-template-columns: 3% 10% 40% 10% 1fr;
    grid-template-rows: 15% 10% 5% 15% 40%;
  }
  .technology-body .background-technology-mobile {
    height: 60vw;
    background-image: url("/starter-code/assets/technology/background-technology-tablet.jpg");
  }
  .technology-body .nav-bar {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .technology-body .nav-bar .nav-line {
    display: block;
    position: absolute;
    right: 58%;
    background-color: rgba(240, 248, 255, 0.223);
    height: 2px;
    width: 30%;
    z-index: 3;
  }
  .technology-body .name-of-the-page {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 1.2rem;
    margin: 0%;
    justify-self: start;
    align-self: center;
    text-transform: uppercase;
  }
  .technology-body .image-wrapper {
    grid-column: 5;
    grid-row: 3/6;
    width: 100%;
    height: 100%;
  }
  .technology-body .image-wrapper .main-image {
    height: 75%;
    margin-bottom: 30%;
  }
  .technology-body .main-image {
    grid-column: 5;
    grid-row: 3/6;
    height: 70%;
    margin-bottom: 30%;
  }
  .technology-body .pick-a-technology-buttons {
    grid-column: 2/3;
    grid-row: 3/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18%;
    width: 99%;
    cursor: pointer;
  }
  .technology-body .what-it-is-about-text {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0%;
    font-size: 1rem;
    justify-self: start;
    align-self: end;
  }
  .technology-body .title {
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 2.2rem;
    justify-self: start;
    text-transform: uppercase;
  }
  .technology-body .plain-text {
    grid-column: 3/4;
    grid-row: 5;
    font-size: 1.1rem;
    justify-self: start;
    text-align: left;
    margin: 0%;
  }
}

.nav-bar {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.nav-bar .dimond {
  grid-row: 1/2;
}
.nav-bar .button-menu {
  all: unset;
  height: 9%;
  width: 15%;
  margin-left: auto;
  box-sizing: border-box;
  z-index: 4;
  cursor: pointer;
  position: absolute;
  left: 80%;
  top: 5%;
}
.nav-bar .button-menu.active {
  position: fixed;
  left: 75%;
  top: 5%;
  height: 8%;
  width: 8%;
}
.nav-bar .button-menu > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}
.nav-bar .button-menu > div span {
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  width: 70%;
  /* &:nth-child(2) {
    top: 30%;
  }
  &:nth-child(3) {
    top: 50%;
  } */
}
.nav-bar .nav-links {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-self: start;
  gap: 10%;
  list-style: none;
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 50%;
  right: 0;
  margin-top: 50%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.529);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /*for Safari */
  z-index: 2;
}
.nav-bar .nav-links li {
  padding: 0%;
  list-style: none;
}
.nav-bar .nav-links li a {
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: white;
  text-decoration: none;
  display: block;
}
.nav-bar .nav-links li:nth-child(1) {
  margin-top: 50%;
}
@media (min-width: 400px) {
  .nav-bar {
    height: 100%;
  }
  .nav-bar .dimond {
    height: 60%;
  }
  .nav-bar .button-menu.active {
    top: 10%;
  }
  .nav-bar .nav-links li a {
    font-size: 1.3rem;
  }
}
@media (min-width: 500px) {
  .nav-bar .button-menu.active {
    top: 8%;
  }
  .nav-bar .nav-links li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) {
  .nav-bar .button-menu {
    width: 12%;
  }
  .nav-bar .nav-links {
    width: 40%;
  }
  .nav-bar .nav-links li:nth-child(1) {
    margin-top: 40%;
  }
  .nav-bar .nav-links li a {
    font-size: 0.9rem;
  }
}
@media (min-width: 600px) {
  .nav-bar .button-menu.active {
    top: 10%;
  }
  .nav-bar .nav-links li a {
    font-size: 1rem;
  }
}
@media (min-width: 700px) {
  .nav-bar .button-menu.active {
    top: 12%;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar .dimond {
    margin: 0%;
  }
  .nav-bar .button-menu {
    visibility: hidden;
    margin: 0%;
    z-index: 1;
  }
  .nav-bar .nav-links {
    all: unset;
    visibility: visible;
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 0%;
    margin: 0%;
    list-style: none;
    background-color: rgba(36, 35, 35, 0.529);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    z-index: 2;
  }
  .nav-bar .nav-links li {
    padding: 5%;
  }
  .nav-bar .nav-links li span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    visibility: hidden;
  }
  .nav-bar .nav-links li .line1,
  .nav-bar .nav-links li .line2,
  .nav-bar .nav-links li .line3,
  .nav-bar .nav-links li .line4 {
    visibility: visible;
    position: relative;
    top: 15px;
  }
  .nav-bar .nav-links li:nth-child(1) {
    margin-top: 0%;
  }
  .nav-bar .nav-links li:nth-child(4) {
    padding-left: 10%;
  }
}

/* Show menu when active */
.button-menu {
  /* + div > span {
    all: unset;
    position: absolute;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    width: 70%;
    transition: transform 0.5s ease;
  } */
}
.button-menu div span {
  position: absolute;
  transition: transform 0.5s ease;
}
.button-menu.active {
  position: fixed;
}
.button-menu.active > div {
  position: relative;
}
.button-menu.active span:nth-child(1) {
  transform: translate(-60%, 132%) rotate(45deg);
  width: 100%;
  top: 0%;
}
.button-menu.active span:nth-child(2) {
  opacity: 0;
  top: 0%;
}
.button-menu.active span:nth-child(3) {
  transform: translate(-30%, 10%) rotate(-45deg);
  width: 100%;
  top: 0%;
}

.nav-links {
  /* Slide effect */
}
.nav-links.active {
  visibility: visible;
  animation: slideIn 0.3s ease;
}
.nav-links.not-active {
  visibility: visible;
  animation: slideOut 1s ease;
}
@keyframes slideIn {
  from {
    transform: translateY(-5%);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
.nav-links li:hover span:not(.line1, .line2, .line3, .line4) {
  visibility: hidden;
  animation: hoverNavOptions 0.8s ease forwards;
}
@keyframes hoverNavOptions {
  from {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 15px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes palpitations {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.09);
  }
}
.index-body .explore {
  z-index: 1;
  animation: palpitations 1s ease-in-out infinite alternate;
}
.index-body .explore::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(247, 247, 247, 0.079);
  transform: scale(1);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.index-body .explore:hover::before {
  transform: scale(1.4);
  opacity: 1;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.index-body .sub-title,
.index-body .title,
.index-body .plain-text {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes slideFromTheLeft {
  from {
    transform: translateX(-100%) rotate(-45deg);
    opacity: 0.5;
  }
  to {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
.destination-body .planet {
  animation: slideFromTheLeft 1s ease;
}
@keyframes hoverPlanetOptions {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 15px);
    visibility: hidden;
  }
}
.destination-body .the-planet-options a:hover + span:not(.line1, .line2, .line3, .line4) {
  visibility: visible;
  animation: hoverPlanetOptions 0.8s ease;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.destination-body .the-planet-options,
.destination-body .title,
.destination-body .plain-text,
.destination-body .travel-mesuraments {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes slideFromTheBottom {
  from {
    transform: translateY(100%);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.crew-body .crew-member {
  animation: slideFromTheBottom 1s ease;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.crew-body h2,
.crew-body h1,
.crew-body .plain-text,
.crew-body .crew-member-navigation {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes slideFromTheRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.technology-body .main-image {
  animation: slideFromTheRight 1s ease;
}
.technology-body .pick-a-technology-buttons a {
  transition: all 0.5s ease;
}
.technology-body .pick-a-technology-buttons a:hover:not(.tech1, .tech2, .tech3) {
  background-color: rgba(255, 255, 255, 0.356);
}
.technology-body .image-wrapper {
  overflow: hidden; /* Hides the overflow when image grows */
  border-radius: 10px; /* Optional rounded corners */
  position: relative;
}
.technology-body .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps image nicely cropped */
  transition: transform 0.3s ease;
}
.technology-body .image-wrapper img:hover {
  transform: scale(1.1); /* Zoom only the image */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.technology-body .plain-text,
.technology-body .title,
.technology-body .what-it-is-about-text,
.technology-body .pick-a-technology-buttons {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.index-body {
  font-family: "Roboto", sans-serif;
  height: 160vw;
  width: 100vw; /* maybe 300xp of width */
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 15% 1fr 3fr 3fr 3.5fr;
}
.index-body > *:not(.nav-bar) {
  z-index: 1;
  grid-column: 2/3;
  color: aliceblue;
}
.index-body .the-background {
  position: absolute;
  background-image: url("/starter-code/assets/home/background-home-mobile.jpg");
  background-size: cover;
  z-index: 0;
  height: 200vw;
  width: 100vw;
}
.index-body .sub-title {
  grid-row: 2/3;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 0%;
}
.index-body .title {
  grid-row: 3/4;
  font-size: 5rem;
  justify-self: center;
  align-self: center;
  margin: 0%;
}
.index-body .plain-text {
  grid-row: 4/5;
  justify-self: center;
  font-size: 1rem;
  text-align: center;
  color: rgba(240, 248, 255, 0.761);
}
.index-body .explore {
  grid-row: 5;
  margin-top: 10%;
  height: 90%;
  width: 50%;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  color: rgba(0, 0, 0, 0.716);
  font-size: 2rem;
}
@media (min-width: 400px) {
  .index-body {
    /*     .explore {
    } */
  }
  .index-body .sub-title {
    font-size: 1.2rem;
  }
  .index-body .title {
    font-size: 5.2rem;
  }
  .index-body .plain-text {
    font-size: 1.1rem;
  }
}
@media (min-width: 500px) {
  .index-body .sub-title {
    font-size: 1.5rem;
  }
  .index-body .title {
    font-size: 6.2rem;
  }
  .index-body .plain-text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 576px) {
  .index-body {
    grid-template-columns: 3% 6% 42.5% 42.5% 6%;
    grid-template-rows: 15% 20% 15% 12% auto 10%;
    height: 60vw;
  }
  .index-body .the-background {
    height: 60vw;
    background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
  }
  .index-body .nav-bar {
    grid-column: 2/6;
    grid-row: 1/2;
  }
  .index-body .sub-title {
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 0.9rem;
    justify-self: left;
    margin-bottom: 5%;
  }
  .index-body .title {
    grid-column: 3/4;
    grid-row: 3/4;
    justify-self: left;
    font-size: 4rem;
  }
  .index-body .plain-text {
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 0.9rem;
    text-align: left;
  }
  .index-body .explore {
    grid-column: 4/5;
    grid-row: 3/6;
    margin-top: 0%;
    height: 70%;
  }
}
@media screen and (min-width: 768px) {
  .index-body {
    height: 60vw;
    width: 100vw;
    grid-template-columns: 3% 1fr 1.3fr 3%;
    grid-template-rows: 15% auto auto auto;
    grid-template-areas: "empty-l nav nav nav" "empty-l sub-title empty empty-r" "empty-l title button empty-r" "empty-l text button empty-r";
  }
  .index-body .the-background {
    height: 70vw;
    width: 100vw;
    background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .index-body .nav-bar {
    grid-area: nav;
  }
  .index-body .nav-bar .nav-line {
    display: block;
    position: absolute;
    right: 58%;
    background-color: rgba(240, 248, 255, 0.223);
    height: 2px;
    width: 30%;
    z-index: 3;
  }
  .index-body .sub-title {
    grid-area: sub-title;
    font-size: 1rem;
    padding-left: 8%;
    margin: 0%;
    margin-top: 10%;
  }
  .index-body .title {
    grid-area: title;
    font-size: 5rem;
    padding-left: 8%;
  }
  .index-body .plain-text {
    grid-area: text;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1rem;
  }
  .index-body .explore {
    grid-area: button;
    height: 60%;
    width: 40%;
  }
  .index-body .empty-left {
    grid-area: empty-l;
  }
  .index-body .empty-right {
    grid-area: empty-r;
  }
}/*# sourceMappingURL=main.css.map */