//_____________________ NAV-BAR ______________________

/* Show menu when active */
.button-menu {
  span {
    transition: transform 0.5s ease;
  }

  &.active {
    position: fixed;

    span:nth-child(1) {
      transform: translate(0px, 7px) rotate(-40deg);
      width: 150%;
    }

    span:nth-child(2) {
      transform: translate(0px, -10px) rotateY(90deg);
    }

    span:nth-child(3) {
      transform: translate(2px, -7px) rotate(40deg);
      width: 150%;
    }
  }
}

.nav-links {
  //animation to slide the nav-bar on mobile devices
  &.active {
    visibility: visible;
    animation: slideIn 0.3s ease;
  }
  &.not-active {
    visibility: visible;
    animation: slideOut 1s ease;
  }

  /* Slide effect */
  @keyframes slideIn {
    from {
      transform: translateY(-5%);
      opacity: 0.2;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  //Span under the seclected page
  li:hover span:not(.line1, .line2, .line3, .line4) {
    visibility: hidden;
    animation: hoverNavOptions 0.8s ease forwards;

    @keyframes hoverNavOptions {
      from {
        transform: translate(0px, 0px);
        opacity: 0;
      }
      to {
        transform: translate(0px, 15px);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
//____________________ MAIN BODY _____________________

.index-body {
  //Palpitation of the EXPLORE button
  @keyframes palpitations {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.09);
    }
  }

  .explore /* The actual Explore button */ {
    z-index: 1;
    animation: palpitations 1s ease-in-out infinite alternate;
  }

  .explore::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 0%;

    height: 100%;
    width: 100%;
    border-radius: 50%;

    background-color: rgba(247, 247, 247, 0.079);
    transform: scale(1);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .explore:hover::before {
    transform: scale(1.4);
    opacity: 1;
  }

  //Make the text slightly appear from nothing
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .sub-title,
  .title,
  .plain-text {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
}
//________________ DESTINATION BODY _________________

.destination-body {
  @keyframes slideFromTheLeft {
    from {
      transform: translateX(-100%) rotate(-45deg);
      opacity: 0.5;
    }
    to {
      transform: translateX(0px) rotate(0deg);
      opacity: 1;
    }
  }
  .planet {
    animation: slideFromTheLeft 1s ease;
  }

  @keyframes hoverPlanetOptions {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 15px);
      visibility: hidden;
    }
  }

  .the-planet-options a:hover + span:not(.line1, .line2, .line3, .line4) {
    visibility: visible;
    animation: hoverPlanetOptions 0.8s ease;
  }

  //Make the text slightly appear from nothing
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .the-planet-options,
  .title,
  .plain-text,
  .travel-mesuraments {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
}

//___________________ CREW BODY ____________________
.crew-body {
  // The image apperance
  @keyframes slideFromTheBottom {
    from {
      transform: translateY(100%);
      opacity: 0.2;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .crew-member {
    animation: slideFromTheBottom 1s ease;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  h2,
  h1,
  .plain-text,
  .crew-member-navigation {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
}

//_________________ TECHNOLOGY BODY __________________

.technology-body {
  //The image on the right
  @keyframes slideFromTheRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .main-image {
    animation: slideFromTheRight 1s ease;
  }

  //The buttons to select the technology pages
  .pick-a-technology-buttons a {
    transition: all 0.5s ease;
  }

  .pick-a-technology-buttons a:hover:not(.tech1, .tech2, .tech3) {
    background-color: rgba(255, 255, 255, 0.356);
  }

  //Scale the image when you hover over it
  .image-wrapper {
    overflow: hidden; /* Hides the overflow when image grows */
    border-radius: 10px; /* Optional rounded corners */
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Keeps image nicely cropped */
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(1.1); /* Zoom only the image */
    }
  }

  //Make the text slightly appear from nothing
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .plain-text,
  .title,
  .what-it-is-about-text,
  .pick-a-technology-buttons {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
}
