@use "pages/destination";
@use "fonts";
@use "pages/crew";
@use "pages/technology";
@use "nav-bar";
@use "animations";
@use "responsive-layouts";

.index-body {
  font-family: "Roboto", sans-serif;
  height: 160vw;
  width: 100vw; /* maybe 300xp of width */
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 15% 1fr 3fr 3fr 3.5fr;
  > *:not(.nav-bar) {
    z-index: 1;
    grid-column: 2/3;
    color: aliceblue;
  }

  //The image in the background
  .the-background {
    position: absolute;
    background-image: url("/starter-code/assets/home/background-home-mobile.jpg");
    background-size: cover;
    z-index: 0;
    height: 200vw;
    width: 100vw;
  }

  //The title section
  .sub-title {
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 0%;
  }
  .title {
    grid-row: 3/4;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    margin: 0%;
  }

  //The text and button part
  .plain-text {
    grid-row: 4/5;
    justify-self: center;
    font-size: 1rem;
    text-align: center;
    color: rgba(240, 248, 255, 0.761);
  }

  .explore {
    grid-row: 5;
    margin-top: 10%;
    height: 90%;
    width: 50%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    color: rgba(0, 0, 0, 0.716);
    font-size: 2rem;
  }

  //_________________  MEDIA QUERIES _________________
  @media (min-width: 400px) {
    .sub-title {
      font-size: 1.2rem;
    }
    .title {
      font-size: 5.2rem;
    }
    .plain-text {
      font-size: 1.1rem;
    }
    /*     .explore {
    } */
  }

  @media (min-width: 500px) {
    .sub-title {
      font-size: 1.5rem;
    }
    .title {
      font-size: 6.2rem;
    }
    .plain-text {
      font-size: 1.3rem;
    }
    .explore {
    }
  }

  //REAL MEDIA QUERY
  @media screen and (min-width: 576px) {
    .the-background {
      background-image: url("/starter-code/assets/home/background-home-tablet.jpg");
    }
    .sub-title {
      font-size: 1.7rem;
    }
    .title {
      font-size: 6.7rem;
    }
    .plain-text {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 650px) {
    .sub-title {
      font-size: 2rem;
    }
    .title {
      font-size: 7rem;
    }
    .plain-text {
      font-size: 1.8rem;
    }
  }

  //REAL MEDIA QUERY
  @media screen and (min-width: 768px) {
    height: 60vw;
    width: 100vw;
    grid-template-columns: 3% 1fr 1.3fr 3%;
    grid-template-rows: 15% auto auto auto;
    grid-template-areas:
      "empty-l nav nav nav"
      "empty-l sub-title empty empty-r"
      "empty-l title button empty-r"
      "empty-l text button empty-r";

    .the-background {
      height: 70vw;
      width: 100vw;
      background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .nav-bar {
      grid-area: nav;
      .nav-line {
        display: block;
        position: absolute;
        right: 58%;
        background-color: rgba(240, 248, 255, 0.223);
        height: 2px;
        width: 30%;
        z-index: 3;
      }
    }

    .sub-title {
      grid-area: sub-title;
      font-size: 1rem;
    }
    .title {
      grid-area: title;
      font-size: 5rem;
    }
    .plain-text {
      grid-area: text;
      box-sizing: border-box;
      padding-left: 10%;
      padding-right: 10%;
      font-size: 1rem;
    }

    .explore /*Button*/ {
      grid-area: button;
      height: 60%;
      width: 40%;
    }

    .empty-left {
      grid-area: empty-l;
    }
    .empty-right {
      grid-area: empty-r;
    }
  }
}
