@use "pages/destination";
@use "fonts";
@use "pages/crew";
@use "pages/technology";
@use "nav-bar";
@use "animations";

.index-body {
  font-family: "Roboto", sans-serif;
  height: 150vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 1fr 1fr 3fr 3fr 1fr 3.5fr;
  > *:not(.nav-bar) {
    z-index: 1;
    grid-column: 2/3;
    color: aliceblue;
  }

  //The image in the background
  .the-background {
    position: absolute;
    background-size: cover;
    z-index: 0;
    width: 100vw;
  }

  //The title section
  .sub-title {
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 0%;
  }
  .title {
    grid-row: 3/4;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    margin: 0%;
  }

  //The text and button part
  .plain-text {
    grid-row: 4/5;
    justify-self: center;
    font-size: 1rem;
    text-align: center;
    color: rgba(240, 248, 255, 0.761);
  }
  .explore {
    grid-row: 6;
    justify-self: center;
    height: 90%;
    width: 40%;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.716);
    font-size: 2rem;
  }
}
