@use "pages/destination";
@use "fonts";
@use "pages/crew";
@use "pages/technology";
@use "nav-bar";
@use "animations";
@use "responsive-layouts";

.index-body {
  font-family: "Roboto", sans-serif;
  height: 160vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 1fr 1fr 3fr 3fr 3.5fr;
  > *:not(.nav-bar) {
    z-index: 1;
    grid-column: 2/3;
    color: aliceblue;
  }

  //The image in the background
  .the-background {
    position: absolute;
    background-image: url("/starter-code/assets/home/background-home-mobile.jpg");
    background-size: cover;
    z-index: 0;
    height: 200vw;
    width: 100vw;
  }

  //The title section
  .sub-title {
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 0%;
  }
  .title {
    grid-row: 3/4;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    margin: 0%;
  }

  //The text and button part
  .plain-text {
    grid-row: 4/5;
    justify-self: center;
    font-size: 1rem;
    text-align: center;
    color: rgba(240, 248, 255, 0.761);
  }
  .explore {
    grid-row: 5;
    justify-self: center;
    height: 90%;
    width: 45%;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.716);
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .index-body {
    height: 100vh;
    width: 100vw;
    grid-template-columns: 3% 1fr 1fr 3%;
    grid-template-rows: 14% auto auto auto;
    grid-template-areas:
      "empty-l nav nav empty-r"
      "empty-l sub-title empty empty-r"
      "empty-l title button empty-r"
      "empty-l text button empty-r";

    .the-background {
      height: 100vh;
      width: 100vw;
      background-image: url("/starter-code/assets/home/background-home-tablet.jpg");
    }

    .nav-bar {
      grid-area: nav;
    }

    .sub-title {
      grid-area: sub-title;
    }
    .title {
      grid-area: title;
    }
    .plain-text {
      grid-area: text;
    }
    .explore {
      grid-area: button;
      height: 60%;
      width: 60%;
    }

    .empty-left {
      grid-area: empty-l;
    }
    .empty-right {
      grid-area: empty-r;
    }
  }
}
