.crew-body {
  display: grid;
  height: 250vw;
  width: 100vw;
  margin: 0%;
  color: aliceblue;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 8.9% auto 40% auto auto auto auto;
  //style
  justify-items: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  .background-destination-mobile {
    background-image: url("/starter-code/assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250vw;
    width: 100vw;
    position: absolute;
    z-index: 0;
  }

  *:not(.nav-bar) {
    z-index: 1;
    grid-column: 2/3;
  }

  //2
  h3 {
    grid-row: 2/3;
    text-transform: uppercase;
    font-weight: 200;
    a {
      color: rgba(240, 248, 255, 0.516);
    }
  }

  //3 image
  .crew-member {
    grid-row: 3/4;
    height: 90%;
    width: 70%;
  }

  //4
  h2 {
    grid-row: 4/5;
    margin: 2%;
    color: rgba(240, 248, 255, 0.702);
    font-weight: 300;
  }

  //4.5
  h1 {
    grid-row: 5/6;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  //5
  .plain-text {
    grid-row: 6/7;
    text-align: center;
    color: rgba(240, 248, 255, 0.756);
    margin-top: 0%;
    font-size: 1rem;
  }

  //6
  .crew-member-navigation {
    width: 100%;
    .dot-nav {
      grid-row: 7;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 5%;
      padding: 0%;
      margin-top: 0%;
      list-style-type: none;

      li {
        display: flex;
        justify-content: space-evenly;
        a {
          display: block;
          width: 15px; // make them
          height: 15px; // responsive <--------
          background-color: gray;
          border-radius: 50%;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: rgb(197, 195, 195);
          }
        }
      }
    }
  }

  @media (min-width: 400px) {
    grid-template-rows: 10% auto 45% auto auto auto auto;

    h3 {
      font-size: 1.7rem;
      margin: 0%;
      margin-top: 8%;
    }
    .crew-member {
      height: 90%;
      margin-top: 5%;
      align-self: flex-end;
    }

    h2 {
      font-size: 2.5rem;
      margin: 0%;
      margin-top: 2%;
    }
    h1 {
      font-size: 2.5rem;
      align-content: center;
      margin-bottom: 0%;
    }

    .plain-text {
      font-size: 1.1rem;
      margin: 0%;
    }

    > ul {
      margin-bottom: 10%;
      margin-top: 5%;
      li {
        font-size: 1.2rem;
      }
    }

    .crew-member-navigation .dot-nav li a {
      width: 30px;
      height: 30px;
    }
  }

  @media (min-width: 450px) {
    h3 {
      font-size: 2rem;
      margin: 0%;
      margin-top: 8%;
    }
    .crew-member {
      height: 90%;
      margin-top: 5%;
      align-self: flex-end;
    }

    h2 {
      font-size: 2.5rem;
      margin: 0%;
      margin-top: 2%;
    }
    h1 {
      font-size: 2.9rem;
      align-content: center;
      margin-bottom: 0%;
    }

    .plain-text {
      font-size: 1.5rem;
      margin: 0%;
    }

    > ul {
      margin-bottom: 10%;
      margin-top: 5%;
      li {
        font-size: 1.2rem;
      }
    }
  }
  // MEDIA QUERIES WHICH CHANGES THE LAYOUT COMPLETLY
  @media (min-width: 576px) {
    grid-template-columns: 3% 6% 42.5% 42.5% 6%;
    grid-template-rows: 15% 10% 10% 12% 15% 17%;
    height: 60vw;

    .background-destination-mobile {
      background-image: url("/starter-code/assets/crew/background-crew-tablet.jpg");
      height: 60vw;
    }

    .nav-bar {
      grid-column: 2/6;
      grid-row: 1/2;
    }

    .title-of-the-page {
      grid-column: 2/4;
      grid-row: 2/3;
      font-size: 1.1rem;
      margin-top: 8%;
      margin-bottom: 5%;
      margin-right: auto;
    }
    .crew-member {
      grid-column: 4/5;
      grid-row: 3/7;
      height: 90%;
      margin: 0%;
      margin-bottom: 10%;
    }

    .role /* Their role */ {
      grid-column: 3/4;
      grid-row: 3/4;
      font-size: 1.3rem;
      margin-right: auto;
      align-self: flex-end;
    }
    .name-of-the-crew-member /* Their name */ {
      grid-column: 3/4;
      grid-row: 4/5;

      font-size: 2.3rem;
      margin-right: auto;

      &.specialist {
        font-size: 1.7rem;
      }
    }

    .plain-text {
      grid-column: 3/4;
      grid-row: 5/6;
      font-size: 0.7rem;
      margin-right: auto;
      text-align: left;
    }

    .crew-member-navigation {
      grid-column: 3/4;
      grid-row: 6/7;
      > .dot-nav {
        gap: 10%;
        li {
          font-size: 1.5rem;
          a {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    height: 45vw;
    grid-template-columns: 3% 1fr 1fr 3%;
    grid-template-rows: 19% 12% 15% 18% auto 15%;

    *:not(.crew-member) {
      justify-self: start;
    }

    .background-destination-mobile {
      height: 100vw;
    }

    //1
    .nav-bar {
      grid-column: 2/5;
      grid-row: 1/2;

      .nav-line {
        display: block;
        position: absolute;
        right: 58%;
        background-color: rgba(240, 248, 255, 0.223);
        height: 2px;
        width: 30%;
        z-index: 3;
      }
    }
    //2
    h3 {
      grid-column: 2/3;
      grid-row: 2/3;
      font-size: 1.5rem;
    }

    //3
    .crew-member {
      grid-column: 3/4;
      grid-row: 2/8;
      height: 90%;
      width: 75%;
      margin-top: 10%;
      align-self: center;
    }

    //4
    .role {
      grid-column: 2/3;
      grid-row: 3/4;
      font-size: 2.2rem;
      justify-self: start;
      align-self: end;
      margin: 0%;
    }

    //5
    .name-of-the-crew-member {
      grid-column: 2/3;
      grid-row: 4/5;
      font-size: 2.7rem;
      align-self: start;
    }

    //6
    .plain-text {
      grid-column: 2/3;
      grid-row: 5/6;
      font-size: 1rem;
      text-align: start;
    }

    //7
    > .crew-member-navigation {
      grid-column: 2/3;
      grid-row: 6/7;
      margin: 0%;
      align-self: center;
      .dot-nav {
        margin: 0%;
        gap: 10%;
        li a {
          height: 25px;
          width: 25px;
        }
      }
    }
  }

  @media (min-width: 991px) {
    grid-template-columns: 3% 50% 1fr 3%;
    grid-template-rows: 25% 12% 12% 13% 25% 15%;

    .nav-bar {
      height: 80%;
    }

    .title-of-the-page {
      margin: 0%;
      font-size: 1.2rem;
    }

    .crew-member {
      width: 60%;
    }

    .role {
    }
    .name-of-the-crew-member {
      font-size: 3rem;
    }
    .plain-text {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1200px) {
    .title-of-the-page {
      font-size: 1.5rem;
    }
    .crew-member {
    }
    .role {
      font-size: 3rem;
    }
    .name-of-the-crew-member {
      font-size: 3.6rem;
    }
    .plain-text {
      font-size: 1.5rem;
    }
    .crew-member-navigation {
      .dot-nav {
        li {
          a {
            height: 35px;
            width: 35px;
          }
        }
      }
    }
  }

  @media (min-width: 1400px) {
    grid-template-columns: 3% 50% 1fr 3%;
    grid-template-rows: 25% 12% 12% 13% 19% 15%;
    .crew-member {
      height: 80%;
    }
  }
}

//--------- SPECIAL EFECTS FOR SPECIFIC PAGES --------
// The first body
.crew-commander {
  .crew-member-navigation {
    li {
      &:nth-child(1) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}

//The second body
.crew-engineer {
  .crew-member-navigation {
    li {
      &:nth-child(2) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}

// The third body
.crew-pilot {
  .crew-member-navigation {
    li {
      &:nth-child(3) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}

//The fourth body
.crew-specialist {
  .crew-member-navigation {
    li {
      &:nth-child(4) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}
