.crew-body {
  display: grid;
  height: 200vw;
  width: 100vw;
  margin: 0%;
  color: aliceblue;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto auto 3fr auto auto auto auto;
  //style
  justify-items: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  .background-destination-mobile {
    background-image: url("/starter-code/assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vw;
    width: 100vw;
    position: absolute;
    z-index: 0;
  }

  *:not(.nav-bar) {
    z-index: 1;
    grid-column: 2/3;
  }

  //2
  h3 {
    grid-row: 2/3;
    text-transform: uppercase;
    a {
      color: rgba(240, 248, 255, 0.516);
    }
  }

  //3 image
  .crew-member {
    grid-row: 3/4;
    height: 90%;
    width: 60%;
  }

  //4
  h2 {
    grid-row: 4/5;
    margin: 2%;
    color: rgba(240, 248, 255, 0.702);
    font-weight: 300;
  }

  //4.5
  h1 {
    grid-row: 5/6;
    margin-top: 0%;
  }

  //5
  .plain-text {
    grid-row: 6/7;
    text-align: center;
    color: rgba(240, 248, 255, 0.756);
  }

  //6
  .crew-member-navigation {
    width: 100%;
    .dot-nav {
      grid-row: 7;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 5%;
      padding: 0%;
      margin-top: 0%;
      list-style-type: none;

      li {
        display: flex;
        justify-content: space-evenly;
        a {
          display: block;
          width: 15px;
          height: 15px;
          background-color: gray;
          border-radius: 50%;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: rgb(197, 195, 195);
          }
        }
      }
    }
  }

  @media (min-width: 400px) {
    grid-template-rows: 10% auto 3fr auto auto auto auto;

    h3 {
      font-size: 2rem;
      margin: 0%;
      margin-top: 8%;
    }
    .crew-member {
      height: 95%;
      margin-top: 5%;
      align-self: flex-end;
    }

    h2 {
      font-size: 2.5rem;
    }
    h1 {
      font-size: 3rem;
      align-content: center;
    }

    .plain-text {
      font-size: 1.2rem;
      margin: 0%;
    }

    > ul {
      margin-bottom: 10%;
      margin-top: 5%;
      li {
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 576px) {
    .background-destination-mobile {
      background-image: url("/starter-code/assets/crew/background-crew-tablet.jpg");
    }

    h3 {
      font-size: 2.5rem;
      margin-top: 8%;
      margin-bottom: 5%;
    }
    .crew-member {
      height: 100%;
    }

    h2 {
      font-size: 4rem;
    }
    h1 {
      font-size: 4rem;
      align-content: center;
    }

    .plain-text {
      font-size: 1.5rem;
    }

    > ul li {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    height: 100vh;
    grid-template-columns: 3% 1fr 1fr 3%;
    grid-template-rows: auto auto auto 12% auto 10%;

    *:not(.crew-member) {
      justify-self: start;
    }

    .background-destination-mobile {
      height: 100vh;
    }

    //1
    .nav-bar {
      grid-column: 2/4;
      grid-row: 1/2;

      .nav-line {
        display: block;
        position: absolute;
        right: 58%;
        background-color: rgba(240, 248, 255, 0.223);
        height: 2px;
        width: 30%;
        z-index: 3;
      }
    }
    //2
    h3 {
      grid-column: 2/3;
      grid-row: 2/3;
      font-size: 1.5rem;
    }

    //3
    .crew-member {
      grid-column: 3/4;
      grid-row: 2/7;
      height: 80%;
      width: 75%;
      align-self: center;
    }

    //4
    h2 {
      grid-column: 2/3;
      grid-row: 3/4;
      font-size: 2.2rem;
      justify-self: start;
      align-self: end;
      margin: 0%;
    }

    //5
    h1 {
      grid-column: 2/3;
      grid-row: 4/5;
      font-size: 2.5rem;
      align-self: start;
    }

    //6
    .plain-text {
      grid-column: 2/3;
      grid-row: 5/6;
      font-size: 1.1rem;
      text-align: start;
    }

    //7
    > ul {
      grid-column: 2/3;
      grid-row: 6/7;
    }
  }
}

//--------- SPECIAL EFECTS FOR SPECIFIC PAGES --------
// The first body
.crew-commander {
  .crew-member-navigation {
    li {
      &:nth-child(1) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}

//The second body
.crew-engineer {
  .crew-member-navigation {
    li {
      &:nth-child(2) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}

// The third body
.crew-pilot {
  .crew-member-navigation {
    li {
      &:nth-child(3) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}

//The fourth body
.crew-specialist {
  .crew-member-navigation {
    li {
      &:nth-child(4) a {
        background-color: rgb(197, 195, 195);
      }
    }
  }
}
