.destination-body {
  font-family: "Roboto", sans-serif;
  height: 208vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 15% auto 30% auto auto auto;
  justify-items: center;
  align-items: center;
  position: relative; // Added this line
  color: aliceblue;

  .the-background {
    height: 208vw;
    width: 100%;
    background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
    position: absolute;
    background-size: cover;
    z-index: 0;
  }

  //everything after the background
  *:not(.the-background, .nav-bar) {
    grid-column: 2/3;
    z-index: 1;
  }

  //2
  .sub-title {
    grid-column: 2/3;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 1.3rem;
    margin: 5%;
    a {
      color: rgba(240, 248, 255, 0.516);
    }
  }

  //3
  .planet {
    grid-row: 3/4;
    height: 100%;
    width: 60%;
  }

  //4
  .the-planet-options {
    grid-row: 4/5;
    margin: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;

    a {
      all: unset;
      display: flex;
      flex-direction: column;
      color: aliceblue;
      gap: 2rem;
      height: fit-content;
      margin: 0%;
      margin-top: 7%;
      justify-self: start;
      font-size: 1.2rem;
    }
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 3px;
      background-color: aliceblue;
      visibility: hidden;
    }
    .line1,
    .line2,
    .line3,
    .line4 {
      visibility: visible;
      position: relative;
      top: 15px;
    }
  }

  //5
  .title {
    grid-row: 5/6;
    width: fit-content;
    margin: 0%;
    font-size: 4rem;
  }

  //6
  .plain-text {
    grid-row: 6/7;
    width: fit-content;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 0%;
    padding-bottom: 5%;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.723);
  }

  //7
  .travel-mesuraments {
    grid-row: 7;
    display: flex;
    flex-direction: column;
    gap: 2%;
    //genrenal adjustments
    > p {
      text-transform: uppercase;
      margin: 0%;
      margin-bottom: 10%;
      text-align: center;
    }
    //all the p elements except .distance and .travel-time
    > p:not(.distance, .travel-time) {
      font-size: 2rem;
    }

    .distance {
      margin: 0%;
      margin-top: 15%;
    }
    .travel-time {
      margin: 0%;
    }
    p {
      margin-bottom: 0%;
    }
  }

  @media screen and (min-width: 576px) {
    grid-template-columns: 3% 6% 42.5% 42.5% 6%;
    grid-template-rows: 15% 10% 15% 20% 20% 20% 20%;
    height: 60vw;

    .the-background {
      height: 60vw;
    }

    .nav-bar {
      grid-column: 2/6;
      grid-row: 1/2;
    }
    .sub-title {
      grid-column: 2/4;
      grid-row: 2/3;
      font-size: 1rem;
      margin: 0%;
    }
    .planet {
      grid-column: 3/4;
      grid-row: 3/7;
      height: 70%;
    }
    .the-planet-options {
      grid-column: 4/5;
      grid-row: 3/4;
      margin: 0%;
      margin-bottom: 10%;
      width: 100%;
      justify-content: space-between;
      box-sizing: border-box;
      div {
        align-self: left;
        a {
          font-size: 1rem;
        }
      }
    }
    .title {
      grid-column: 4/5;
      grid-row: 4/5;
      font-size: 3rem;
      justify-self: left;
    }
    .plain-text {
      grid-column: 4/5;
      grid-row: 5/6;
      font-size: 0.7rem;
      text-align: left;
      margin: 0%;
      padding-bottom: 2%;
    }
    .travel-mesuraments {
      grid-column: 4/5;
      grid-row: 6/7;
      display: flex;
      flex-direction: row;
      width: 100%;
      font-size: 0.8rem;
      div:nth-child(1) {
        .distance {
          margin-top: 0%;
          margin: 0%;
        }
        p:nth-child(2) {
          text-transform: uppercase;
          font-size: 1rem;
          margin-top: 0%;
        }
      }
      div:nth-child(2) {
        margin-left: auto;
        p:nth-child(2) {
          margin-top: 0%;
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    height: 65vw;
    width: 100vw;
    grid-template-columns: 3% 3fr 45% 3%;
    grid-template-rows: 14% auto auto auto auto auto;
    grid-template-areas:
      "empty-l nav nav nav"
      "empty-l sub-title planetOp empty-r"
      "empty-l planet title empty-r"
      "empty-l planet text empty-r"
      "empty-l planet travelM empty-r";

    .the-background {
      height: 75vw;
      margin: 0%;
      padding: 0%;
      background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .nav-bar {
      grid-area: nav;
      .nav-line {
        display: block;
        position: absolute;
        right: 20%;
        background-color: rgba(240, 248, 255, 0.223);
        height: 2px;
        width: 57%;
        z-index: 3;
      }
    }

    .sub-title {
      grid-area: sub-title;
      margin: 0%;
      margin-top: 5%;
      align-self: center;
      justify-self: start;
    }
    .the-planet-options {
      width: 100%;
      grid-area: planetOp;
      cursor: pointer;
      gap: 15%;
      margin: 0%;
      margin-top: 10%;
      a {
        margin-top: 2%;
      }
    }
    .planet {
      grid-area: planet;
      height: 70%;
      width: 65%;
      margin-bottom: 15%;
    }
    .title {
      grid-area: title;
      /* grid-column: 3/4;
      grid-row: 4/5; */
      font-size: 5rem;
      text-align: left;
      justify-self: start;
      text-transform: uppercase;
    }

    .plain-text {
      grid-area: text;
      font-size: 1rem;
      text-align: left;
      margin-top: 0%;
      padding-bottom: 10%;
    }
    .travel-mesuraments {
      grid-area: travelM;
      margin-bottom: 10%;
      width: 100%;
      div:nth-child(1) {
        p:nth-child(2) {
          font-size: 1.6rem;
        }
      }
      div:nth-child(2) {
        p:nth-child(2) {
          font-size: 1.6rem;
        }
      }
    }

    .empty-left {
      grid-area: empty-l;
    }
    .empty-right {
      grid-area: empty-r;
    }
  }
}
