.destination-body {
  font-family: "Roboto", sans-serif;
  height: 208vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto auto 30% auto auto auto;
  justify-items: center;
  align-items: center;
  position: relative; // Added this line
  color: aliceblue;

  .the-background {
    height: 208vw;
    width: 100%;
    background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
    position: absolute;
    z-index: 0;
  }

  //everything after the background
  *:not(.the-background, .nav-bar) {
    grid-column: 2/3;
    z-index: 1;
  }

  //2
  .sub-title {
    grid-column: 2/3;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 1.3rem;
    margin: 5%;
    a {
      color: rgba(240, 248, 255, 0.516);
    }
  }

  //3
  .planet {
    grid-row: 3/4;
    height: 100%;
    width: 60%;
  }

  //4
  .the-planet-options {
    grid-row: 4/5;
    margin: 5%;
  }

  //5
  h1 {
    grid-row: 5/6;
    width: fit-content;
    margin: 0%;
    font-size: 4rem;
  }

  //6
  .plain-text {
    grid-row: 6/7;
    width: fit-content;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 0%;
    padding-bottom: 5%;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.723);
  }

  //7
  .travel-mesuraments {
    grid-row: 7;
    display: flex;
    flex-direction: column;
    gap: 2%;
    //genrenal adjustments
    > p {
      text-transform: uppercase;
      margin: 0%;
      margin-bottom: 10%;
      text-align: center;
    }
    //all the p elements except .distance and .travel-time
    > p:not(.distance, .travel-time) {
      font-size: 2rem;
    }

    .distance {
      margin: 0%;
      margin-top: 15%;
    }
    .travel-time {
      margin: 0%;
    }
    p {
      margin-bottom: 0%;
    }
  }

  @media screen and (min-width: 576px) {
  }

  @media screen and (min-width: 768px) {
    height: 100vh;
    width: 100vw;
    grid-template-columns: 3% 3fr 2fr 3%;
    grid-template-rows: 14% auto auto auto auto auto;
    grid-template-areas:
      "empty-l nav nav nav"
      "empty-l sub-title empty empty-r"
      "empty-l planet planetOp empty-r"
      "empty-l planet title empty-r"
      "empty-l planet text empty-r"
      "empty-l planet travelM empty-r";

    .the-background {
      height: 100vh;
      margin: 0%;
      padding: 0%;
      background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
      background-size: cover;
    }

    .nav-bar {
      grid-area: nav;
    }

    .sub-title {
      grid-area: sub-title;
      margin: 3%;
    }
    .the-planet-options {
      grid-area: planetOp;
      height: fit-content;
    }
    .planet {
      grid-area: planet;
      height: 70%;
      width: 65%;
    }
    h1 {
      grid-area: title;
      grid-column: 3/4;
      grid-row: 4/5;
    }

    .plain-text {
      grid-area: text;
    }
    .travel-mesuraments {
      grid-area: travelM;
    }

    .empty-left {
      grid-area: empty-l;
    }
    .empty-right {
      grid-area: empty-r;
    }
  }
}
