.destination-body {
  height: 150vw;
  width: 100vw;
  margin: 0%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto auto 1fr auto auto auto;

  /* .background-destination-mobile {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 0;
  } */
  //everything after the background
  .background-destination-mobile ~ * {
    grid-column: 2/3;
  }

  //1
  .nav-bar {
    grid-column: 2/3;
    grid-row: 1/2;
    height: fit-content;
    flex-direction: row;
    nav ul {
      display: flex;
      flex-direction: row;
    }
  }

  //2
  .sub-title {
    grid-row: 2/3;
    align-items: center;
    grid-column: 2/3;
    z-index: 1;
    height: fit-content;
  }

  //3
  .the-moon {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 50px;
    width: 50px;
  }

  //4
  .the-planet-options {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  //5
  h1 {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  //6
  .plain-text {
    grid-column: 2/3;
    grid-row: 6/7;
  }
}
